<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="insert" parameterType="member">
        insert into membership_member_table(memberEmail, memberPassword, memberName, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile})
    </insert>
    <!--    사진추가하기-->
    <select id="login" parameterType="member" resultType="member">
        select * from membership_member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <select id="emailCheck" parameterType="String" resultType="member">
        select * from membership_member_table where memberEmail=#{memberEmail}
    </select>
    <delete id="delete" parameterType="Long">
        delete from membership_member_table where id=#{id}
    </delete>
    <select id="findOne" parameterType="String" resultType="member">
        select * from membership_member_table where memberEmail=#{memberEmail}
    </select>
    <update id="update" parameterType="member">
        update membership_member_table set memberName= #{memberName},memberMobile=#{memberMobile}
        where memberEmail= #{memberEmail}
    </update>
    <select id="list" resultType="member">
        select * from membership_member_table
    </select>
    <select id="detail" parameterType="Long" resultType="member">
        select * from membership_member_table where id=#{id}
    </select>
</mapper>









